@font-face {
    font-family: 'Cafe24Ohsquare';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/Cafe24Ohsquare.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    text-align: center;
}

h1#logo {
    font-family: Cafe24Ohsquare;
    font-size: 30pt;
    font-style: italic;
    margin-top: 10x;
    margin-bottom: 0px;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}