<!DOCTYPE html>
<html lang="ko">

{% load staticfiles %}

<head>
    <link rel="icon" href="/static/logo.svg">
    <link rel="stylesheet" href="/static/mvp.css">
    <link rel="stylesheet" href="/static/main.css">
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-barun-gothic.css" rel="stylesheet">

    <style>
            --font-family: NanumBarunGothic, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    </style>

    <meta charset="utf-8">
    <meta name="description" content="File.gq - 쉽고 간단한 파일 공유 서비스">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>File.gq</title>
</head>

<body>
    <header style="padding: 0;">
        <main>

            <a href="/"><h1 id="logo">File.gq</h1></a>

            <h1>쉽고 간단한 <br><u>파일 공유</u> 서비스.</h1>
            <p>파일을 올리고, <br>코드를 기억하고, <br>내려받으세요.</p>
            <br>
            <p><a href="upload"><em>파일 올리기</em></a><a href="download"><b>파일 내려받기</b></a></p>
        </main>
    </header>
</body>

</html>