<!-- MVP.css quickstart template: https://github.com/andybrewer/mvp/ -->

<!DOCTYPE html>
<html lang="ko">

<head>
    <link rel="icon" href="https://via.placeholder.com/70x70">
    <link rel="stylesheet" href="/static/mvp.css">
    <link rel="stylesheet" href="/static/main.css">
    <link href="https://hangeul.pstatic.net/hangeul_static/css/nanum-barun-gothic.css" rel="stylesheet">

    <style>
            --font-family: NanumBarunGothic, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    </style>

    <meta charset="utf-8">
    <meta name="description" content="My description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>File.gq</title>
</head>

<body>
    <header>
        <nav>
            <a href="/"><img alt="Logo" src="https://via.placeholder.com/200x70?text=Logo" height="70"></a>
        </nav>

        <h1>쉽고 간편한 <br><u>파일 공유</u> 서비스.</h1>
        <p>파일을 올리고, <br>코드를 기억하고, <br>내려받으세요.</p>
        <br>
        <p><a href="#upload"><em>파일 올리기</em></a><a href="#download"><b>파일 내려받기</b></a></p>

        <form id="upload">

        </form>
    </header>

    <main></main>
    <footer>
        <hr>
        <p>
            <small>Contact info</small>
        </p>
    </footer>
</body>

</html>